:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    width: 1210px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

.section {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    border: 1px solid transparent;
    cursor: pointer;
    min-width: 236px;
    border-radius: 30px;
    padding: 16px 32px;
    background-color: #FA4A0C;
    color: #fff;
}

.btn-transperent {
    border: 1px solid #fff;
    background-color: transparent;
}

/* header */

.header {
    padding-top: 44px;
    padding-bottom: 44px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.header-list {
    display: flex;
    gap: 94px;
    list-style-type: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.01em;
    color: #252b42;
}

.current {
    color: #FA4A0C;
}

/* hero */

.hero {
    height: 619px;
    padding-top: 80px;
    padding-bottom: 160px;
    background-color: grey;
    text-align: center;
    background-color: aqua;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-pretitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: center;
    color: #f6f6f6;
}

.hero-title {
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 58px;
    line-height: 138%;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.hero-aftertitle {
    margin-bottom: 54px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 158%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #f6f6f6;
}

.hero-btns {
    display: flex;
    gap: 67px;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #fff;
}

/* about */

.about {
    padding-top: 54px;
    padding-bottom: 190px;
    text-align: center;
}

.about-title {
    margin-bottom: 70px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 44px;
    line-height: 82%;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.8);
}

.about-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.about-item {
    margin-bottom: 40px;
}

.about-item:nth-child(2n) {
    flex-direction: row-reverse;
}

.about-text {
    width: 568px;
}

.about-heading {
    margin-bottom: 17px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #fa4a0c;
}

.about-description {
    margin-bottom: 17px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.01em;
    color: #252b42;
}

.about-addition {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 158%;
    letter-spacing: 0.01em;
    color: #737373;
}

/* order */

.order {
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: url(../images/orderBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.order-title {
    margin-bottom: 12px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
}

.order-text {
    margin-bottom: 60px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 158%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
}

.order-btns {
    display: flex;
    gap: 16px;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.01em;
    color: #fff;
}

.order-btns .btn {
    min-width: 80px;
    border-radius: 10px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foooter-autor {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #5c5c5c;
}